#div_datos {
    position: relative;
    width: 90%;
    height: 65%;
    left: 5%;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
}
.inputs {
    position: relative;
    width: 50%;
    left: 25%;;
    padding: 10px;
    border: 1px solid #BEBEBE;
    border-radius: 3px;
    outline: none;
    
}
h2 {
    position: relative;
    width: 30%;
    left: 0%;
    margin-top: 5%;
    text-align: center;
}
h3 {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: left;
    
}
#bot_modificar {
    position: absolute;
    width: 15%;
    height: 10%;
    bottom: 9%;
    left: 80%;
    border: 1px solid #B71C1C;
    border-radius: 7px;
    background-color:  transparent;
    font-size: 20px;
    outline: none;
}
#bot_modificar:hover {
    background-color: #B71C1C;
}
.datos {
    width: 33.37%;
    height: 72%;
    border-bottom: 1px solid #BEBEBE;
}
#div_datos_1 {
    position: absolute;
    top: 0%;
    left: 0%;
}
#div_datos_2 {
    position: absolute;
    top: 0%;
    left: 33.3%;
}
#div_datos_3 {
    position: absolute;
    top: 0%;
    left: 66.6%;
    border-left: 1px solid #BEBEBE;
}

.div_coches {
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    margin-bottom: 5%;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.75);
}
.coche {
    position: relative;
    margin: 1%;
    margin-left: 2.5%;
    width: 95%;
    min-height: 40%;
    height: auto;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    top: 10%;
}
.text_coche {
    position: relative;
    width: auto;
    left: 0%;
    text-align: center;
}
.inputs_2 {
    position: absolute;
    width: 70%;
    left: 15%;;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BEBEBE;
    border-radius: 3px;
    outline: none;
}
.coche_1 {
    position: absolute;
    width: 27%;
    height: 100%;
    left: 0%;
}
.coche_2 {
    position: absolute;
    width: 27%;
    height: 100%;
    left: 27%;

}
.coche_3 {
    position: absolute;
    width: 27%;
    height: 100%;
    left: 54%;

}
.select_tipo_coche {
    position: absolute;
    width: 70%;
    left: 15%;;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BEBEBE;
    border-radius: 3px;
    outline: none;
}
.bot_eliminar_coche {
    position: absolute;
    width: 15%;
    height: 17%;
    bottom: 55.3%;
    left: 83%;
    border: 1px solid #BEBEBE;
    border-radius: 7px;
    background-color:  transparent;
    font-size: 20px;
    outline: none;
}
.bot_eliminar_coche:hover {
    background-color: #BEBEBE;
    border-color: #B71C1C;
}

.bot_modificar_coche {
    position: absolute;
    width: 15%;
    height: 17%;
    top: 5.3%;
    left: 83%;
    border: 1px solid #B71C1C;
    border-radius: 7px;
    background-color:  transparent;
    font-size: 20px;
    outline: none;
}
.bot_modificar_coche:hover {
    background-color: #B71C1C;
}
#noHayCoches {
    position: relative;
    width: 95%;
    height: 25%;
    top: 10%;
    margin: 1%;
    margin-left: 2.5%;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    font-size: 30px;
}
#bot_registrar {
    position: absolute;
    width: 15%;
    height: 30%;
    top: 35%;
    left: 72%;
    border: 1px solid #B71C1C;
    border-radius: 7px;
    background-color:  transparent;
    font-size: 20px;
    outline: none;
}
#bot_registrar:hover {
    background-color: #B71C1C;
}
.div_pago {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
    margin: 0%;
    border-top: 1px solid #BEBEBE;
}
.pago_1 {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0%;
}
.pago_2 {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 25%;
}
.pago_3 {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 50%;
}
.pago_4 {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
}
.veh_inf {
    position: absolute;
    width: auto;
    background-color: #FAFAFA;
    top: 0.5%;
    left: 5%;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
}
.pago_inf {
    position: absolute;
    width: auto;
    background-color: #FAFAFA;
    bottom: 47%;
    left: 2.5%;
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
}
.p_no_realizado {
    position: relative;
    top: 35%;
    width: 80%; 
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 200%;
}
.bot_pagar {
    position: absolute;
    width: 15%;
    height: 34.5%;
    top: 32.75%;
    left: 60%;
    border: 1px solid #B71C1C;
    border-radius: 7px;
    background-color:  transparent;
    font-size: 20px;
    outline: none;
}
.bot_pagar:hover {
    background-color: #B71C1C;
}


